<page>

    <div>

        <img src="./images/cdf.png" width="160" height="100" alt="caré" /><br/>

        <strong style="margin-left: 350px; font-size: 22px;">Bilan Financier : Année {{year}}</strong>

        <p><em>Décoratrice évènementiel</em></p>
        <p>
            6 rue du 7éme Bataillon<br/>
            14970 BENOUVILLE<br/>
            Téléphone: 06 89 47 02 19<br/>
            www.couleursdefete.fr<br/>
        </p>

        <br/>

        {% set totalRecetteAnnee = 0 %}

        <h1>Recettes</h1>
        <!-- Commandes -->
        {%for order in orders%}

            <h3> <strong>Commande {{order.id}}</strong> - {{order.getDate()|date('j/m/Y')}} {% if order.paye == 1 %} PAYEE {% else %} NON PAYEE {% endif %} {% if order.archive == 1 %} ET ARCHIVEE {% else %} ET NON ARCHIVEE {% endif %}</h3>

            <table style="border: solid black 1px; width:600px;">

                <tr>
                    <th style="width: 400px;  border: solid black 2px; text-align:center;"> Designation </th>
                    <th style="border: solid black 2px;"> Nombre </th>
                    <th style="border: solid black 2px;"> Montant unitaire</th>
                    <th style="border: solid black 2px;"> Montant TTC </th>
                </tr>


                {% if order.archive == 1 %}

                    {% if order.montantTotal %}
                        {% set total = order.montantTotal %}
                    {% else %}
                        {% set total = 0 %}
                    {% endif %}

                {% else %}

                    {% set total = 0 %}

                    {%for articleOrder in order.getArticles %}
                        <tr>
                            <td style="width: 400px"> {{articleOrder.getArticle()}} </td>
                            <td style="text-align: right;"> {{articleOrder.getQuantite()}} </td>
                            <td style="text-align: right;"> {{articleOrder.getArticle().getPrix()}} €</td>

                            {% set compteArticle = articleOrder.getArticle.getPrix()*articleOrder.getQuantite() %}
                            {% set total = total+compteArticle %}

                            <td style="text-align: right;"> {{compteArticle}} €</td>
                        </tr>
                    {%endfor%}

                    {%for lotOrder in order.getLots%}
                        <tr>
                            <td style="width: 400px"> {{lotOrder.getLot()}} </td>
                            <td style="text-align: right;"> {{lotOrder.getQuantite()}} </td>
                            <td style="text-align: right;"> {{lotOrder.getLot().getPrix()}} €</td>

                            {% set compteArticle = lotOrder.getLot().getPrix()*lotOrder.getQuantite() %}
                            {% set total = total+compteArticle %}

                            <td style="text-align: right;"> {{compteArticle}} €</td>
                        </tr>
                    {%endfor%}

                    {% if order.paye == 0 %}
                        {% set total = order.acompte %}
                    {% endif %}

                {% endif %}







                {% set totalRecetteAnnee = totalRecetteAnnee+total %}

                <tr><td><br/></td><td></td><td></td><td></td></tr>

                <tr>
                    <td style="width: 400px; text-align: right;">
                        TOTAL TTC
                    </td>
                    <td colspan="3" style=" text-align: right; border: 1px solid black;"> {{total}} €</td>
                </tr>


            </table>
        {%endfor%}


        <h1>Dépenses</h1>
        {% set totalDepenseAnnee = 0 %}

        <!-- Dépense -->
        {%for spentsCategorie in spentsCategories%}

            {% if spentsCategorie.getSpents is not empty %}

                <h3> <strong>{{spentsCategorie.getLibelle()}}</strong> </h3>

                <table style="border: solid black 1px;  width:600px;">

                    <tr>
                        <th style="width: 400px; border: solid black 2px; text-align:center;"> Depense </th>
                        <th style="width: 115px; border: solid black 2px;"> Montant </th>
                        <th style="width: 115px; border: solid black 2px;"> Date</th>
                    </tr>

                    {% set total = 0 %}


                    {%for spent in spentsCategorie.getSpents %}
                        <tr>
                            <td> {{spent.getLibelle()}} </td>
                            <td style="text-align: right;"> {{spent.getMontant()}} €</td>
                            <td style="text-align: right;"> {{spent.getDate()|date('d/m/Y')}}</td>

                            {% set total = total+spent.getMontant() %}

                        </tr>
                    {%endfor%}

                    {% set totalDepenseAnnee = totalDepenseAnnee+total %}

                    <tr><td><br/></td><td></td><td></td><td></td></tr>

                    <tr>
                        <td style="width: 400px; text-align: right;">
                            TOTAL TTC
                        </td>
                        <td colspan="2" style="text-align: right; border: 1px solid black;"> {{total}} €</td>
                    </tr>

                </table>

            {% endif %}

        {%endfor%}



        <br/><br/><br/><hr/>

        <h3> Recette de l'année {{year.getLibelle()}} : {{ totalRecetteAnnee }} €</h3>
        <h3> Dépenses de l'année {{year.getLibelle()}} : {{ totalDepenseAnnee }} €</h3>

        {% set CA = totalRecetteAnnee-totalDepenseAnnee %}

        <h1>Chiffre d'affaire de l'année {{year.getLibelle()}} : {{ CA }} €</h1>

    </div>
</page>






