<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title> </title>
            <link href="/css/app.css" rel="stylesheet">
            <link href="/vendor/css/bootstrap.min.css" rel="stylesheet">
            <link href="/vendor/css/bootstrap-theme.min.css" rel="stylesheet">
                
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body class='dev'>
        <!-- TABLE ARTICLE -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Commande </th>
                    <th> Articles </th>
                    <th> Total </th>
                    <th> Date </th>
                    <th> Client </th>
                    <th> Actions </th>
                </tr>
            </thead> 
            <tbody class="row">
            {% for commande in commandes %}
                
                {% set compteArticle = 0 %}
                {% set total = 0 %}
                
                <tr>
                    <td class="col-sm-1">{{commande.getLibelle()}} </td>
                    <td class="col-sm-4"> 
                        <ul>
                        
                            {% for commandeArticle in commandesArticles %}
                                {% if(commandeArticle.getCommande() == commande) %}
                                    <li>
                                        {{commandeArticle.getArticle.GetLibelle()}}
                                        (x{{commandeArticle.getQuantite()}})
                                        {% set compteArticle = commandeArticle.getArticle.getPrix()*commandeArticle.getQuantite() %}
                                        {% set total = total+compteArticle %}
                                    </li>
                                {%endif%}
                            
                                
                            
                            {% endfor %}
                            
                        </ul>
                    </td>
                    
                    <td class="col-sm-2">{{total}}<span class="glyphicon glyphicon-euro"></span></td>
                    
                   
                    
                    <td class="col-sm-1">{{commande.getDate()|date('d/m/Y')}} </td>
                    <td class="col-sm-1">
                        {{commande.getClient().getNom()}}
                        {{commande.getClient().getPrenom()}}
                        
                    </td>
                    
                    <!-- ACTIONS -->
                    <td class="row TEST col-sm-3"> 
                        <!-- Génération de la facture -->       
                        <div class="col-sm-12">
                            <a href="{{path('générer-facture',{'idCommande': commande.getId()})}}">
                                <span class="glyphicon glyphicon-copy"></span> Génerer facture
                            </a>

                            <!-- Génération du devis -->       
                            <a href="{{path('générer-devis',{'idCommande': commande.getId()})}}">
                               / devis
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>