{% extends 'base.html.twig' %}

{% block body %}
    
    <h2> Bilan Financier </h2>
    
    
    <!-- FLASH MESSAGE -->
    {% for flash_message in app.session.flashBag.get('feedback') %} 
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('alert') %} 
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash_message }}
        </div>
    {% endfor %}
    
    
    <!-- FORM BILAN -->
    <p>Pour générer un Bilan Financier, veuillez séléctionner une année grâce au formulaire ci-dessous et cliquer sur "Valider". <br/>Les années disponibles dans le formulaire s'ajouterons automatiquement dés qu'une commande sera crée pour une nouvelle année</p>
    
    <div class="bilan">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    
    
    <!-- AFFICHAGE BILAN -->
    <div class="affichageBilan">
        
    </div>


        
{% endblock %}
