<page style="margin-left: 150px;"> 
    <page_header> 
       <link href="/vendor/css/bootstrap.min.css" rel="stylesheet">
       <link href="/vendor/css/bootstrap-theme.min.css" rel="stylesheet">     
       <link href="/css/facture.css" rel="stylesheet">
    </page_header> 

    
   
    <div class="corp" style="
         margin-left: 50px;
         margin-right: 50px;
         margin-top: 40px;
         margin-bottom: 50px;
         
    ">
        
        <img src="./images/cdf.png" width="160" height="100" alt="caré" /><br/>
        
        <strong style="margin-left: 350px; font-size: 22px;">Bilan Financier : Année {{annee}}</strong>
        
        <p><em>Décoratrice évènementiel</em></p>
        <p>
            6 rue du 7éme Bataillon<br/>
            14970 BENOUVILLE<br/>
            Téléphone: 06 89 47 02 19<br/>
            www.couleursdefete.fr<br/>
        </p>

        <br/>
        
        {% set totalRecetteAnnee = 0 %}

    <h1>Recettes</h1>    
    <!-- Commandes -->
    {%for commande in commandes%}
            
        <h3> <strong>{{commande.getLibelle()}}</strong> - {{commande.getDate()|date('j/m/Y')}}</h3>
        
        <table style="border: solid black 1px;  width:600px;">

            <tr>
                <th style="width: 400px;  border: solid black 2px; text-align:center;"> Designation </th>
                <th style="border: solid black 2px;"> Nombre </th>
                <th style="border: solid black 2px;"> Montant unitaire</th>
                <th style="border: solid black 2px;"> Montant TTC </th>
            </tr>

            {% set total = 0 %}
                
            
            {%for commandeArticle in commandesArticles%}
                {% if(commandeArticle.getCommande() == commande)%}
                <tr>
                    <td> {{commandeArticle.getArticle()}} </td>
                    <td style="text-align: right;"> {{commandeArticle.getQuantite()}} </td>
                    <td style="text-align: right;"> {{commandeArticle.getArticle().getPrix()}} €</td>

                    {% set compteArticle = commandeArticle.getArticle.getPrix()*commandeArticle.getQuantite() %}
                    {% set total = total+compteArticle %}
                        
                    <td style="text-align: right;"> {{compteArticle}} €</td>
                </tr>
                {% endif%}
            {%endfor%}
                
            {%for commandeLot in commandesLot%}
                {% if(commandeLot.getCommande() == commande)%}
                <tr>
                    <td> {{commandeLot.getLot()}} </td>
                    <td style="text-align: right;"> {{commandeLot.getQuantite()}} </td>
                    <td style="text-align: right;"> {{commandeLot.getLot().getPrix()}} €</td>

                    {% set compteArticle = commandeLot.getLot().getPrix()*commandeLot.getQuantite() %}
                    {% set total = total+compteArticle %}
                    
                    <td style="text-align: right;"> {{compteArticle}} €</td>
                    </tr>
                {% endif%}
            {%endfor%}
                
            {% set totalRecetteAnnee = totalRecetteAnnee+total %}
                
            <tr><td><br/></td><td></td><td></td><td></td></tr> 
                
            <tr>
                <td style="width: 400px; text-align: right;">
                    TOTAL TTC
                </td>
                <td colspan="3" style=" text-align: right; border: 1px solid black;"> {{total}} €</td>
            </tr>
               
                
        </table>
    {%endfor%}  
        
    <h3> Recette de l'année {{annee.getLibelle()}} : {{ totalRecetteAnnee }} €</h3> 
               
    
    <h1>Dépenses</h1>
    {% set totalDepenseAnnee = 0 %}
    
    <!-- Dépense -->
    {%for categorieDepense in categoriesDepense%}
        
        <h3> <strong>{{categorieDepense.getLibelle()}}</strong> </h3>
        
        <table style="border: solid black 1px;  width:600px;">

            <tr>
                <th style="width: 400px;  border: solid black 2px; text-align:center;"> Depense </th>
                <th style="border: solid black 2px;"> Montant </th>
                <th style="border: solid black 2px;"> Date</th>
            </tr>

            {% set total = 0 %}
                

            {%for depense in depenses %}
                {% if(depense.getCategorie() == categorieDepense)%}
                <tr>
                    <td> {{depense.getLibelle()}} </td>
                    <td style="text-align: right;"> {{depense.getMontant()}} €</td>
                    <td style="text-align: right;"> {{depense.getDate()|date('d/m/Y')}}</td>

                    {% set total = total+depense.getMontant() %}
                        
                </tr>
                {% endif%}
            {%endfor%}
                
            {% set totalDepenseAnnee = totalDepenseAnnee+total %}
                
            <tr><td><br/></td><td></td><td></td><td></td></tr> 
                
            <tr>
                <td style="width: 400px; text-align: right;">
                    TOTAL TTC
                </td>
                <td colspan="2" style=" text-align: right; border: 1px solid black;"> {{total}} €</td>
            </tr>
               
                
        </table>
    {%endfor%}
    
    <h3> Dépenses de l'année {{annee.getLibelle()}} : {{ totalDepenseAnnee }} €</h3> 
    
    <br/><br/><br/><hr/>
    
    {% set CA = totalRecetteAnnee-totalDepenseAnnee %}
    
    <h1>Chiffre d'affaire de l'année {{annee.getLibelle()}} : {{ CA }} €</h1>
    </div>
    
  
</page>
         
        
        
        
        
        
 