<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title> </title>
            <link href="/css/app.css" rel="stylesheet">
            <link href="/vendor/css/bootstrap.min.css" rel="stylesheet">
            <link href="/vendor/css/bootstrap-theme.min.css" rel="stylesheet">
                
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body class='dev'>
        <!-- TABLE ARTICLE -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Numero de commande </th>
                    <th> Commande </th>
                    <th> Date </th>
                    <th> Client </th>
                    <th> Actions </th>
                </tr>
            </thead> 
            <tbody class="row">
                {% for order in orders %}

                    <tr>
                        <td class="col-sm-1">{{ order.getId() }}</td>
                        <td class="col-sm-1">{{ order.getLibelle()}} </td>
                        <td class="col-sm-1">{{ order.getDate()|date('d/m/Y')}} </td>
                        <td class="col-sm-1">
                            {{ order.getClient().getNom()}}
                            {{ order.getClient().getPrenom()}}

                        </td>

                        <!-- ACTIONS -->
                        <td class="row TEST col-sm-3">
                            <!-- Génération de la facture -->
                            {% if(order.getPaye() == true)%}
                                <a href="{{path('générer-ultime-facture', {'idCommande': order.getId()})}}" class="col-sm-12">
                                    <span class="glyphicon glyphicon-download-alt"></span> Télécharger facture
                                </a>
                            {% else %}

                                <!-- Génération de la facture -->
                                <div class="col-sm-12">
                                    <a href="{{path('générer-facture',{'idCommande': order.getId()})}}">
                                        <span class="glyphicon glyphicon-copy"></span> Génerer facture
                                    </a>

                                    <!-- Génération du devis -->
                                    <a href="{{path('générer-devis',{'idCommande': order.getId()})}}">
                                        / devis
                                    </a>
                                </div>

                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

        </table>

        <div class="navigation">
            {{ knp_pagination_render(orders) }}
        </div>

    </body>
</html>