{% extends 'base.html.twig' %}

{% block body %}



    {% if viewOrdersOrdered %}
        <h2> Commandes </h2>
    {% else %}
        <h2> Commandes Archivées</h2>
        <a href="{{ path('commande') }}"><span class="glyphicon glyphicon-arrow-left"></span> Retour aux commandes</a>
    {% endif %}
    <!-- AJOUT COMMANDE -->
    <div>
        {% if viewOrdersOrdered %}
            <p class="row">
                <span class="col-sm-4">Nouvelle Commande : </span>
                <!--path('ajout-article-pop') <a href="" class="btn btn-primary ajax-modal" data-submit-reload='true' > <span class="glyficon glyficon-plus"></span> Ajouter un Article ! </a>-->
                <button type="button" class="btn btn-primary col-sm-3" data-toggle="modal" data-target="#modalAjout">
                    <span class="glyphicon glyphicon-plus"></span> nouvelle Commande
                </button>
            </p>
            <p class="row MODAL">
                <span class="col-sm-4">Voir les commandes archivées : </span>
                <a href="{{path('voir-commandes-archivees')}}">
                    <button type="button" class="btn btn-info col-sm-3">
                        <span class="glyphicon glyphicon-book"></span> Commandes archivées
                    </button>
                </a>
                {#<a href="#"
                   class="col-sm-3 btn btn-info"
                   id="modifModal"
                   data-toggle="modal"
                   data-target="#modalTest"
                   data-url="{{path('voir-commandes-archivees')}}"
                >
                    <span class="glyphicon glyphicon-book"></span> Commandes archivées
                </a>#}
            </p>
        {% endif %}
    </div>

    <!-- FLASH MESSAGE -->
    {% for flash_message in app.session.flashBag.get('feedback') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('alert') %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash_message }}
        </div>
    {% endfor %}

    <form class="well" action="{{ path('search-order') }}" method="post">
        <h3><strong>Rechercher une commande</strong></h3>
        <br/>

        <label for="commande_number" style="width: 18%">Numero commande</label>
        <input required type="text" id="commande_number" name="orderId" style="width: 25%"/>
        <input type="submit" class="btn btn-primary" value="Rechercher" style="width: 10%"/>
    </form>


    {% if orders == null %}
        <p>Il n'y à pas encore de commande</p>
    {% else %}


        <!-- TABLE ARTICLE -->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th> Commande </th>
                <th> Libelle </th>
                <th> Date </th>
                <th> Client </th>
                <th> Actions </th>
            </tr>
            </thead>
            <tbody class="row">
            {% for order in orders %}

                {% set compteArticle = 0 %}
                {% set total = 0 %}
                {% set locationCommande = 0 %}
                {% set retourArticle = 1 %}

                <tr>
                    <td class="col-sm-1">
                        <strong>Commande N° {{order.getId()}}</strong>
                        {% if order.paye %}
                            <hr/>
                            <span class="col-sm-12 label label-success">
                                <span class="glyphicon glyphicon-ok-circle"></span> Commande payée !
                            </span>
                        {% endif %}
                    </td>

                    <td class="col-sm-1">{{order.getLibelle()}}</td>

                    <td class="col-sm-1">Date Evenement {{order.getDateEvenement()|date('d/m/Y')}}<br/> </td>

                    <td class="col-sm-1">{{order.getClient().getNom()}} {{order.getClient().getPrenom()}}</td>

                    <!-- ACTIONS -->
                    <td class="row TEST col-sm-1">
                        <a href="{{ path('view-order', {'idCommande' : order.id}) }}"><span class="glyphicon glyphicon-eye-open"></span> Voir les détails</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>




    {% endif %}

    <div class="navigation">
        {{ knp_pagination_render(orders) }}
    </div>

    <!-- FENETRE MODAL MODIFICATION -->
    <div class="modal fade" id="modalTest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Commandes Archivées</h3>
                </div>
                <div class="modal-body" id="cible">
                </div>
            </div>
        </div>
    </div>

    {% if viewOrdersOrdered %}
        <!-- FENETRE MODAL AJOUT-->
        <div class="modal fade" id="modalAjout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="myModalLabel">Creation de commande</h3>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}





{% endblock %}
