<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title> </title>
            <link href="/css/app.css" rel="stylesheet">
            <link href="/vendor/css/bootstrap.min.css" rel="stylesheet">
            <link href="/vendor/css/bootstrap-theme.min.css" rel="stylesheet">
                
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body class='dev'>
        <!-- TABLE ARTICLE -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Numero de commande </th>
                    <th> Commande </th>
                    <th> Date </th>
                    <th> Client </th>
                    <th> Actions </th>
                </tr>
            </thead> 
            <tbody class="row">
                {% for order in orders %}

                    <tr>
                        <td class="col-sm-1">{{ order.getId() }}</td>
                        <td class="col-sm-1">{{ order.getLibelle()}} </td>
                        <td class="col-sm-1">{{ order.getDate()|date('d/m/Y')}} </td>
                        <td class="col-sm-1">
                            {{ order.getClient().getNom()}}
                            {{ order.getClient().getPrenom()}}

                        </td>

                        <!-- ACTIONS -->
                        <td class="row TEST col-sm-3">
                            <a href="{{ path('view-order', {'idCommande' : order.id}) }}"><span class="glyphicon glyphicon-eye-open"></span> Voir les détails</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

        </table>

        <div class="navigation">
            {{ knp_pagination_render(orders) }}
        </div>

    </body>
</html>