<page style="margin-left: 150px;"> 
    <page_header> 
       <link href="/vendor/css/bootstrap.min.css" rel="stylesheet">
       <link href="/vendor/css/bootstrap-theme.min.css" rel="stylesheet">     
       <link href="/css/facture.css" rel="stylesheet">
    </page_header> 

    
   
    <div class="corp" style="
         margin-left: 50px;
         margin-right: 50px;
         margin-top: 40px;
         
    ">
        
        <img src="./images/cdf.png" width="160" height="100" alt="caré" /><br/>

        <br/>

        <strong style=" font-size: 22px;">{{commande.getTypeEvenement()}}</strong>
        
        <p><em></em></p>
        <p>
            SAS Couleurs de Fête<br/>
            7 rue Alfred Kastler<br/>
            14000 Caen<br/>
            Téléphone: 06 89 47 02 19<br/>
            www.couleursdefete.fr<span style="margin-left: 374px;">{{commande.getDate()|date('d/m/Y')}}</span><br/>
        </p>
        
        <strong><u>A l'attention de :</u></strong> {{commande.getClient.getNom()}} {{commande.getClient.getPrenom()}} <br/>
        <span style="margin-left: 110px;">{{commande.getClient.getAdresse()}}</span><br/>
        
        <span style="margin-left: 510px;">Objet :</span><br/>
        <span style="margin-left: 508px;"> Mariage le {{commande.getDateEvenement()|date('d/m/Y')}}</span><br/>
        <span style="margin-left: 508px;"> {{commande.getPartenaire()}}</span>
        
        
        <br/>
        <br/>
        
        {% if typeDocument == "UltimeFacture" %}

            <p><strong style="margin-left: 510px;">FACTURE N° {{commande.getId()}}</strong></p>

        {% else %}

            <p><strong style="margin-left: 510px;">{{typeDocument|upper}} N° {{commande.getId()}}</strong></p>

        {% endif %}

        
        <p> <strong>Demande de location de matériel pour votre évènement</strong></p>
        
       

        <!-- TABLE ARTICLE -->
        <table style="border: solid black 1px;  width:600px;">

                <tr>
                    <th style="width: 400px;  border: solid black 2px; text-align:center;"> Designation </th>
                    <th style="border: solid black 2px;"> Nombre </th>
                    <th style="border: solid black 2px;"> Montant unitaire</th>
                    <th style="border: solid black 2px;"> Montant TTC </th>
                </tr>

                {% set total = 0 %}


                {%for type, items in itemsCommande %}
                    {% if items is not empty %}

                        <tr><td><strong>{{ type }}</strong></td><td></td><td></td><td></td></tr>

                        {%for item in items %}


                            <tr>

                                <td style="width: 400px;"> {{item.libelle}} </td>
                                <td style="text-align: right;"> {{item.quantite}} </td>
                                <td style="text-align: right;"> {{item.prix}} €</td>

                                {% set compteArticle = item.prix*item.quantite %}
                                {% set total = total+compteArticle %}
                                <td style="text-align: right;"> {{compteArticle}} €</td>

                            </tr>
                        {%endfor%}

                    {% endif %}

                {%endfor%}

                
                <tr><td><br/></td><td></td><td></td><td></td></tr> 
                
                {% if(typeDocument == "Devis")%}
                    <tr style="margin-top: 100px;">
                        <td style="width: 400px;">
                            Afin de valider votre réservation, il vous est demandé un acompte représentant 40 % de la commande totale.<br/>

                            Une caution par chèque vous sera demandée lors de l'enlevement mais NON ENCAISSEE.
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                    <tr>
                        <td style="width: 400px;">
                            Devis valable 1 mois.
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% elseif(typeDocument == "Facture") %}
                    
                    
                {% endif %}
                <tr><td><br/></td><td></td><td></td><td></td></tr>
                <tr>
                    <td style="width: 400px; text-align: right;">
                        TOTAL TTC
                    </td>
                    <td colspan="3" style=" text-align: right; border: 1px solid black;"> {{total}} €</td>
                </tr>
                
                {% if(typeDocument == "Devis")%}
                    {% set acompteLogique = total*0.40 %}
                    <tr>
                        <td style="width: 400px; text-align: right;">
                            <strong>Acompte:</strong>
                        </td>
                        {% if commande.getAcompte() %}
                            <td colspan="3" style=" text-align: right; border: 1px solid black;"> {{commande.getAcompte()}} €</td>
                        {% else %}
                            <td colspan="3" style=" text-align: right; border: 1px solid black;"> {{acompteLogique}} €</td>
                        {% endif %}

                    </tr>
                
                    
                    {% set restant = total-acompteLogique %}
                
                    <tr>
                        <td style="width: 400px; text-align: right;">
                            <strong>Solde restant:</strong>
                        </td>
                        <td colspan="3" style=" text-align: right; border: 1px solid black;"> {{restant}} €</td>
                    </tr>
                {% elseif(typeDocument == "Facture") %}
                    <tr>
                        <td style="width: 400px; text-align: right;">
                            <strong>Acompte versé:</strong>
                        </td>
                        <td colspan="3" style=" text-align: right; border: 1px solid black;">
                            {% if(commande.getAcompte() == 0)%}
                                0 €
                            {% else %}
                                {{commande.getAcompte()}} €
                            {% endif %}

                        </td>
                    </tr>

                    
                    {% set restant = total-commande.getAcompte() %}
                
                    <tr>
                        <td style="width: 400px; text-align: right;">
                            <strong>Solde restant:</strong>
                        </td>
                        <td colspan="3" style=" text-align: right; border: 1px solid black;"> {{restant}} €</td>
                    </tr>

                {% else %}

                    <tr>
                        <td style="width: 400px; text-align: right;">
                            <strong>Solde restant:</strong>
                        </td>
                        <td colspan="3" style=" text-align: right; border: 1px solid black;"> Solde acquitté </td>
                    </tr>

                {% endif %}
        </table>
                
                <p style="margin-left:250px;">Siret 824 661 292 R.C.S. Caen</p>
                
                <p style="margin-left:100px;">
                    Veuillez établir les chèques à l'ordre de <strong>Couleurs de Fête</strong><br/><br/>
                    Non assujetti à la TVA.<br/><br/>
                    <strong>Avec mes remerciements.</strong><br/><br/>
                </p> 
                {% if(typeDocument == "Devis")%}
                    <div style="width:250px; padding-bottom:80px; margin-left: 420px; text-align:center; border:solid black 1px;"><strong>Bon pour accord</strong></div>
                {% endif %}
         
    </div>
</page> 