{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="corp-connexion">
        <h1> Création Utilisateur </h1>
        <hr/>
    
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        
        <br/>
        <button type="submit" class="btn btn-primary">Enregistrer !</button>
        {{ form_end(form) }}
        
    </div>

        
{% endblock %}
